header {
    position: fixed;
    background: var(--main-color);
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.inner-header {
    /* width: 1600px; */
    margin: 0 2rem;
    height: 100px;
}
header .inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}
.gnb {
    width: 800px;
    display: flex;
    height: 100%;
    font-size: 1rem;
    flex: 2;
}
.gnb>li{
    flex: 1;
    display: flex;
    justify-content: center;
}
.gnb>li>a{
    display: flex;
    height: 100%;
    align-items: center;
}
.lnb {
    display: flex;
    width: 720px;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}
.sub-menu{
    display: flex;
    gap: 1rem;
}
.sub-menu>li{
    color: #ccc;
    font-size: .8rem;
}
.sub-menu>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-menu{
    display: flex;
    gap: 1rem;
}
.menu-item > a {
    color: #fff;
    text-decoration: none;
}
.mega-menu {
    /* display: none; */
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: var(--main-color);
    padding: 0;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease 0s; /* 요청하신 속성 */
    z-index: 10;
}
header.open .mega-menu {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}
.depth2 {
    display: none;
    padding-top:1rem;
    padding-left: 0;
    margin: 0;
}
.mega-menu .depth2 {
    margin: 0;
}
.depth2.active {
    display: block;
}

.depth2 li {
    margin-bottom: .7rem;
}

.depth2 a {
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}
.menu-item > a {
    font-weight: 400;
    /* transition: font-weight .2s ease; */
}

.menu-item > a:hover {
    font-weight: 600;
}
.header-smart{
    display: none;
}
.logo img{
    height: 1.7rem;  
}
.btn-menu{
    line-height: 0;
}
.btn-menu img{
    height: 1.2rem;
}
.btn-close img{
    height: 1.2rem;
}
.menu-smart-hidden{
    display: none;
}

@media (max-width:1600px){
    .header-pc{
        display: none;
    }
    .header-smart{
        display: block;
        height: 5rem;
        width: auto;
        /* margin: 0 2rem; */
    }
    .header-smart .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .menu-smart-hidden{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: var(--main-color);
        z-index: 3000;
        transform: translateX(100%);
        transition: all .5s ease 0s;
    }
    .menu-smart-hidden.on{
        transform: translateX(0%);
    }
    .menu-top{
        height: 5rem;
    }
    .menu-top .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        line-height: 0;
    }
    .menu-content{
        max-height: calc(100vh - 5rem);
        overflow: auto;
        padding-top: 2rem;
        box-sizing: border-box;
    }
    .menu-content .lnb{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu-content .icon-menu img{
        height: 1.2rem;
    }
    .gnb-smart{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0;
        margin-top: 2rem;
    }
    .gnb-smart>li{
        max-height: 31px;
        overflow: hidden;
        position: relative;
        transition: all .5s ease 0s;
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        cursor: pointer;
    }
    .gnb-smart>li.on{
        max-height: 300px;
    }
    .gnb-smart>li.on .depth1{
        font-weight: 700;
    }
    .gnb-smart>li .btn-more img{
        transition: all .5s ease 0s;
    }
    .gnb-smart>li.on .btn-more img{
        transform: rotate(180deg);
    }
    .gnb-smart>li .depth1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        padding-bottom: .5rem;
}
    .gnb-smart ul a{
        display: flex;
        height: 30px;
        align-items: center;
        font-size: var(--fs-bd2);
    }
    .btn-menu{
        cursor: pointer;
    }
    .btn-close{
        cursor: pointer;
    }
}

@media (max-width:768px){
    .header-smart{
        width: auto;
        /* margin: 0 1rem; */
    }
}