.hero-banner{
    padding-top: 5rem;
    margin-bottom: 8rem;
}
.hero-banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cate-frame {
    margin-bottom: 10rem;
}
.cate-frame a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.cate-frame img{
    height: 100%;
    aspect-ratio: 250/125;
    object-fit: cover;
}
.cate-frame figure{
    filter: brightness(0.9);
    transition: all 1s ease 0s;
}
.cate-frame figure:hover{
    filter: brightness(1);
}
.banner{
    margin-bottom: 8rem;
    background-color: #F6F6F6;
    padding: 3rem 0;
}
.banner-frame{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.station img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.train{
    padding: 2rem 0;
}
.swiper-pagination>span{
    background-color: var(--main-color);
    box-shadow: 0 0 10px #ddd;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.banner .station .swiper-pagination .swiper-pagination-bullet{
    opacity: 1;
}
.common-frame>h3{
    text-align: center;
    margin-bottom: 2rem;
}

.best {
    margin-bottom: 8rem;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2rem;
}
.tabs span{
    cursor: pointer;
    text-align: center;
}
.tabs span.active{
    font-weight: 600;
}

.best-swiper > ul{
    display: none;
}
.best-swiper>ul.active {
    display: block;
    display: flex;
}

.best-swiper ul li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    border: 1px solid #C8C8C8;
    aspect-ratio: 466 /600;
    min-height: 600px;
    box-sizing: border-box;
}
.best-swiper ul li>a>div{
    font-weight: 600;
    margin-top: 1rem;
}
.best-swiper ul li>a>figcaption{
    height: 50px;
}
.detail{
    display: flex;
    gap: .5rem;
}
.detail img{
    height: 1.2rem;
}
.content1 h1+p{
    margin-bottom: 2rem;
}
.frame-ai{
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 5rem;
    gap: 1rem;
}
.frame-ai>div{
    flex: 1;
}
.content1 h1{
    padding: 1rem;
    padding-bottom: 0;
}
.content1 p{
    padding: 1rem;
}
.station-popup{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.train-popup{
    width: 300%;
    height: 100%;
    transition: all .5s ease 0s;
    display: flex;

}

.train-popup li{
    flex: 1;
}
.train-popup img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-window {
    width: 400px;
    height: 650px;
    background: white;
    margin: 2.5rem auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* 헤더 */
.chat-header {
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    gap: .6rem;
}
.bot-profile {
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-title { font-weight: bold; color: #333; }

/* 대화창 */
.chat-content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background: #f9f9f9;
}

.message { 
    display: flex; 
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}
.message.bot {
    justify-content: flex-start;
}
.message.user .bubble{ 
    justify-content: flex-end;
    align-items: flex-end;
    padding: .5rem;
    border-radius: 8px;
    background-color: var(--pt-blue);
    color: #fff;
    align-self: flex-end;
    font-size: 1rem;

}
.message div {
    background-color: #eedede;
    color: #000;
    padding: .5rem;
    border-radius: 8px;
}
.bubble {
    max-width: 70%;
    padding: .6rem .8rem;
    border-radius: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.message .bubble2, .message .bubble4{
    align-self: flex-end;
    background-color: var(--pt-blue);
    color: #fff;
}
.bot .bubble { 
    background-color: #eedede;
    color: #000;
    padding: .5rem;
    border-radius: 8px;
    font-size: 1rem;
}
.user .bubble {
    background: var(--user-bubble);
    color: #333;
    border-bottom-right-radius: 4px;
}

/* 입력바 */
.chat-input-bar {
    padding: .8rem;
    display: flex;
    gap: .5rem;
    background: white;
    border-top: 1px solid #eee;
}
.chat-input-bar input {
    flex: 1;
    border: 1px solid #ddd;
    padding: .5rem .8rem;
    border-radius: 25px;
    outline: none;
}
.chat-input-bar button {
    background: none; 
    border: none; 
    cursor: pointer; 
    fill: var(--user-bubble); 
    width: 30px;
}

@media (max-width:1440px){
    .best-swiper ul li>a {
        aspect-ratio: 1/1;
        min-height: auto;
    }
    .station-popup{
        width: 400px;
        height: 400px;
        overflow: hidden;
    }
    .chat-window {
        width: 300px;
        height: 650px;
    }
}
@media (max-width:768px){
    .station-popup{
        width: 300px;
        height: 300px;
    }
    .frame-ai{
        flex-direction: column;
    }
    .frame-ai .content1{
        align-self: center;
    }
    .frame-ai .chat-window{
        align-self: center;
    }
    .chat-window {
        width: 300px;
        height: 500px;
    }
    .frame-ai > div{
        flex: initial;
    }

}
@media (max-width:400px){
    .station-popup{
        width: auto;
        height: auto;
    }
    .chat-window {
        width: auto;
        height: auto;
    }
}