.hero-banner{
    padding-top: 5rem;
    margin-bottom: 8rem;
}
.hero-banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cate-frame {
    margin-bottom: 10rem;
}
.cate-frame a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.cate-frame img{
    height: 100%;
    aspect-ratio: 250/125;
    object-fit: cover;
}
.cate-frame figure{
    filter: brightness(0.9);
    transition: all 1s ease 0s;
}
.cate-frame figure:hover{
    filter: brightness(1);
    transform: scale(1.2)
}
.banner{
    margin-bottom: 8rem;
    background-color: #F6F6F6;
    padding: 3rem 0;
}
.banner-frame{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.station img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination>span{
    background-color: var(--pt-blue);
    box-shadow: 0 0 10px #ddd;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.banner .station .swiper-pagination .swiper-pagination-bullet{
    opacity: 1;
}
.common-frame>h3{
    text-align: center;
    margin-bottom: 2rem;
}

.best {
    margin-bottom: 8rem;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2rem;
}
.tabs span{
    cursor: pointer;
    text-align: center;
}
.tabs span.active{
    font-weight: 600;
}
.tab-menu ul{
    justify-content: center;
    gap: 2rem;
    display: none;
}
.tab-menu ul li{
    flex: 1;
}
.tab-menu ul.active{
    display: block;
    display: flex;
}
.tab-menu ul li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    border: 1px solid #C8C8C8;
    aspect-ratio: 425 /600;
    height: 600px;
}
.tab-menu ul li>a>p{
    font-weight: 600;
    margin-top: 1rem;
}
.tab-menu ul li>a>figcaption{
    height: 50px;
}
.content1 h1+p{
    margin-bottom: 2rem;
}
.frame-ai{
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid red;
    margin-bottom: 5rem;
}
.frame-ai>div{
    flex: 1;
}
.content1 h1{
    padding: 1rem;
    padding-bottom: 0;
}
.content1 p{
    padding: 1rem;
}
.station-popup{
    width: 500px;
    height: 500px;
    overflow: hidden;
    padding: 1rme;
    box-sizing: border-box;
}
.train-popup{
    width: 300%;
    height: 100%;
    transition: all .5s ease 0s;
    display: flex;

}

.train-popup li{
    flex: 1;
}
.train-popup img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search-window {
    position: fixed; /* 혹은 absolute (상황에 따라) */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
    /* 초기 상태: 숨김 */
    display: none; 
}

/* active 클래스가 붙으면 보임 */
.search-window.active {
    display: block;
}

.search-trigger {
    cursor: pointer; /* 마우스 올리면 클릭 가능하게 표시 */
}

@media (max-width:1440px){
}
@media (max-width:768px){

}