<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
    <header>
        <div class="header-pc">
            <div class="inner-header">
                <div class="logo">
                    <a href="index.html">
                        <img src="./img/logo.svg" alt="다이슨 로고 이미지">
                    </a>
                </div>
                <ul class="gnb">
                    <li class="menu-item" data-menu="hair"><a href="./hair-page.html">헤어케어</a></li>
                    <li class="menu-item" data-menu="vacuum"><a href="./cleaner-page.html">청소기</a></li>
                    <li class="menu-item" data-menu="air"><a href="./air-page.html">공기청정기</a></li>
                    <li class="menu-item" data-menu="audio"><a href="./headphone-page.html">헤드폰</a></li>
                    <li class="menu-item" data-menu="light"><a href="./light-page.html">조명</a></li>
                    <li class="menu-item" data-menu="b2b"><a href="#">고객지원</a></li>
                </ul>
                <div class="lnb">
                    <ul class="sub-menu">
                        <li>
                            <a href="#">마이 페이지</a>
                        </li>
                        <li>
                            <a href="#">기업 고객 전용</a>
                        </li>
                        <li>
                            <a href="#">매장 찾기</a>
                        </li>
                        <li>
                            <a href="#">엑세서리 및 부품 찾기</a>
                        </li>
                    </ul>
                    <img src="./img/line.svg" alt="구분선">
                    <ul class="icon-menu">
                        <li>
                            <a href="./login-page.html">
                                <img src="./img/icon-login.svg" alt="로그인">
                            </a>
                        </li>
                        <li>
                            <a href="./cart-page.html">
                                <img src="./img/icon-cart.svg" alt="장바구니">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./img/icon-search.svg" alt="검색">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mega-menu">
                <ul class="depth2" data-target="hair">
                    <li><a href="./hair-page.html">스타일러</a></li>
                    <li><a href="#">드라이어</a></li>
                    <li><a href="#">스트레이트너</a></li>
                    <li><a href="#">헤어 에센셜 케어</a></li>
                </ul>
                <ul class="depth2" data-target="vacuum">
                    <li><a href="./cleaner-page.html">로봇 청소기</a></li>
                    <li><a href="#">물청소기</a></li>
                    <li><a href="#">진공청소기</a></li>
                    <li><a href="#">진공 + 물청소기</a></li>
                    <li><a href="#">펫 사이언스</a></li>
                </ul>
                <ul class="depth2" data-target="air">
                    <li><a href="./air-page.html">공기청정기</a></li>
                    <li><a href="#">가습 공기청정기</a></li>
                    <li><a href="#">선풍기</a></li>
                </ul>
                <ul class="depth2" data-target="audio">
                    <li><a href="./headphone-page.html">다이슨 온트랙 노이즈 캔슬링 헤드폰</a></li>
                    <li><a href="#">온트랙 이어쿠션, 갭, 어댑터</a></li>
                </ul>
                <ul class="depth2" data-target="light">
                    <li><a href="./light-page.html">다이슨 솔라사이클 모프</a></li>
                </ul>
                <ul class="depth2" data-target="b2b">
                    <li><a href="#">주문 조회</a></li>
                    <li><a href="#">서비스센터</a></li>
                    <li><a href="#">제품 지원</a></li>
                    <li><a href="#">메뉴얼 가이드</a></li>
                </ul>
            </div>
        </div>


        <div class="header-smart">
            <div class="common-frame">
                <div class="logo">
                    <a href="./index.html">
                        <img src="./img/logo.svg" alt="상단 로고">
                    </a>
                </div>
                <span class="btn-menu">
                    <img src="./img/btn-menu.svg" alt="전체 메뉴 버튼">
                </span>
            </div>
        </div>

        <div class="menu-smart-hidden">
            <div class="menu-top">
                <div class="common-frame">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="./img/logo.svg" alt="상단 로고">
                        </a>
                    </div>
                    <span class="btn-close">
                        <img src="./img/btn-close.svg" alt="메뉴 닫기 버튼">
                    </span>
                </div>
            </div>
            <div class="menu-content">
                <div class="common-frame">
                    <div class="lnb">
                        <ul class="sub-menu">
                            <li>
                                <a href="#">마이 페이지</a>
                            </li>
                            <li>
                                <a href="#">기업 고객 전용</a>
                            </li>
                            <li>
                                <a href="#">매장 찾기</a>
                            </li>
                            <li>
                                <a href="#">엑세서리 및 부품 찾기</a>
                            </li>
                        </ul>
                        <ul class="icon-menu">
                            <li>
                                <a href="./login-page.html">
                                    <img src="./img/icon-login.svg" alt="로그인">
                                </a>
                            </li>
                            <li>
                                <a href="./cart-page.html">
                                    <img src="./img/icon-cart.svg" alt="장바구니">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="./img/icon-search.svg" alt="검색">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="gnb-smart">
                        <li>
                            <div class="depth1">
                                헤어케어
                                <span class="btn-more">
                                    <img src="./img/btn-more.svg" alt="메뉴 더보기">
                                </span>
                            </div>
                            <ul>
                                <li><a href="#">스타일러</a></li>
                                <li><a href="#">드라이어</a></li>
                                <li><a href="#">스트레이트너</a></li>
                                <li><a href="#">헤어 에센셜 케어</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="depth1">
                                청소기
                                <span class="btn-more">
                                    <img src="./img/btn-more.svg" alt="메뉴 더보기">
                                </span>
                            </div>
                            <ul>
                                <li><a href="#">로봇 청소기</a></li>
                                <li><a href="#">물청소기</a></li>
                                <li><a href="#">진공청소기</a></li>
                                <li><a href="#">진공 + 물청소기</a></li>
                                <li><a href="#">펫 사이언스</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="depth1">
                                공청기
                                <span class="btn-more">
                                    <img src="./img/btn-more.svg" alt="메뉴 더보기">
                                </span>
                            </div>
                            <ul>
                                <li><a href="#">공기청정기</a></li>
                                <li><a href="#">가습 공기청정기</a></li>
                                <li><a href="#">선풍기</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="depth1">
                                헤드폰
                                <span class="btn-more">
                                    <img src="./img/btn-more.svg" alt="메뉴 더보기">
                                </span>
                            </div>
                            <ul>
                                <li><a href="#">다이슨 온트랙 노이즈 캔슬링 헤드폰</a></li>
                                <li><a href="#">온트랙 이어쿠션, 갭, 어댑터</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="depth1">
                                조명
                                <span class="btn-more">
                                    <img src="./img/btn-more.svg" alt="메뉴 더보기">
                                </span>
                            </div>
                            <ul>
                                <li><a href="#">다이슨 솔라사이클 모프</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="depth1">
                                고객지원
                                <span class="btn-more">
                                    <img src="./img/btn-more.svg" alt="메뉴 더보기">
                                </span>
                            </div>
                            <ul>
                                <li><a href="#">주문 조회</a></li>
                                <li><a href="#">서비스센터</a></li>
                                <li><a href="#">제품 지원</a></li>
                                <li><a href="#">메뉴얼 가이드</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </header>
</body>
</html>